body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #fff;
  background-size: cover;
}

.navbar .navbar-brand img {
  width: 130px;
  height: 110px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #323278;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 0px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #2121db;
}

.page-home {
  margin-top: 135px;
}

.page-home .confrence-carousel .carousel .carousel-inner .carousel-item img {
  border-radius: 30px;
  height: 450px;
}

.page-home .confrence {
  margin-top: 100px;
}

.page-home .confrence .headConfrence {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.page-home .confrence .headConfrence h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.page-home .confrence .gambarConfrence img {
  border-radius: 0px 70px 0px 70px;
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
}

.page-home .confrence .content .isiConfrence p {
  font-size: 18px;
  color: #fff;
}

.page-home .confrence .btnSelengkapnya .btnLengkap {
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  color: #323278;
  font-weight: 600;
}

.page-home .confrence .btnSelengkapnya .btnLengkap:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.page-home .detailConfrence {
  margin-top: 80px;
}

.page-home .detailConfrence .headDetailsConfrence {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.page-home .detailConfrence .headDetailsConfrence h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.page-home .detailConfrence .component-program {
  margin-bottom: 20px;
}

.page-home .detailConfrence .component-program:hover {
  text-decoration: none;
}

.page-home .detailConfrence .component-program .program-thumbnail {
  width: 100%;
  height: 550px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.page-home .detailConfrence .component-program .program-thumbnail:hover .program-image, .page-home .detailConfrence .component-program .program-thumbnail:focus .program-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-home .detailConfrence .component-program .program-thumbnail .program-image {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-home .detailConfrence .component-program .program-text {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  margin-top: 12px;
}

.page-home .detailConfrence .component-program .program-time {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.page-home .photosConfrence {
  margin-top: 80px;
}

.page-home .photosConfrence .headPhotosConfrence {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.page-home .photosConfrence .headPhotosConfrence h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.page-home .photosConfrence .carousel .carousel-indicators {
  top: 100%;
}

.page-home .photosConfrence .carousel .carousel-inner .carousel-item .itemPertama a {
  text-decoration: none;
}

.page-home .photosConfrence .carousel .carousel-inner .carousel-item .itemPertama a .card {
  border: none;
  width: 100%;
  height: 450px;
}

.page-home .photosConfrence .carousel .carousel-inner .carousel-item .itemPertama a .card img {
  width: 100%;
  height: 370px;
}

.page-home .photosConfrence .carousel .carousel-inner .carousel-item .itemPertama a .card .card-text {
  text-align: center;
  color: #0f0f8d;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
}

.page-home .hubungiKita {
  margin-top: 80px;
}

.page-home .hubungiKita .headHubungiConfrence {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.page-home .hubungiKita .headHubungiConfrence h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.page-home .hubungiKita .icon {
  margin-top: 30px;
  margin-bottom: 10px;
}

.page-home .hubungiKita .icon .contentIcon {
  margin-left: auto;
  margin-right: auto;
}

.page-home .hubungiKita .icon .contentIcon i {
  background-color: #1313c2;
  padding: 30px;
  border-radius: 40px 0px 40px 0px;
  color: #fff;
}

.page-home .hubungiKita .icon .contentIcon i:hover {
  background-color: #1313c2;
  color: #fff;
}

.page-home .hubungiKita .icon .contentIcon p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.page-fullAcara .acara-breadcrumbs .breadcrumb {
  background: transparent;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-fullAcara .acara-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-fullAcara .acara-breadcrumbs .breadcrumb-item.active {
  font-weight: 300;
  color: #fff;
}

.page-fullAcara .acara-breadcrumbs a {
  color: #fff;
  text-decoration: none;
}

.page-fullAcara .acaraTitle h1 {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.page-fullAcara .acaraContent {
  margin-top: 15px;
}

.page-fullAcara .acaraContent img {
  width: 100%;
  height: 250px;
}

.page-fullAcara .acaraContent p {
  margin-top: 30px;
  color: #fff;
}

.page-detail .acara-breadcrumbs .breadcrumb {
  background: transparent;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-detail .acara-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-detail .acara-breadcrumbs .breadcrumb-item.active {
  font-weight: 300;
  color: #fff;
}

.page-detail .acara-breadcrumbs a {
  color: #fff;
  text-decoration: none;
}

.page-detail .acaraTitle h1 {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.page-detail .acaraContent {
  margin-top: 15px;
}

.page-detail .acaraContent img {
  width: 100%;
  height: 250px;
}

.page-detail .acaraContent i {
  color: #fff;
}

.page-detail .acaraContent .text {
  color: #fff;
}

.page-detail .acaraContent p {
  margin-top: 10px;
  color: #fff;
}

.page-galeri .acara-breadcrumbs .breadcrumb {
  background: transparent;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-galeri .acara-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-galeri .acara-breadcrumbs .breadcrumb-item.active {
  font-weight: 300;
  color: #fff;
}

.page-galeri .acara-breadcrumbs a {
  color: #fff;
  text-decoration: none;
}

.page-galeri .acaraTitle h1 {
  color: #fff;
}

.page-galeri .isiGaleri {
  margin-top: 20px;
}

.page-galeri .isiGaleri .headDetailsConfrence {
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.page-galeri .isiGaleri .headDetailsConfrence h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.page-galeri .isiGaleri .component-program {
  margin-bottom: 20px;
}

.page-galeri .isiGaleri .component-program:hover {
  text-decoration: none;
}

.page-galeri .isiGaleri .component-program .program-thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.page-galeri .isiGaleri .component-program .program-thumbnail:hover .program-image, .page-galeri .isiGaleri .component-program .program-thumbnail:focus .program-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page-galeri .isiGaleri .component-program .program-thumbnail .program-image {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .page-home {
    margin-top: 125px;
  }
  .navbar-brand {
    height: 110px;
  }
  .nav-link {
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 30px;
  }
  .nav-link:hover {
    color: #323278;
  }
  .page-fullAcara .acaraTitle h1 {
    font-size: 40px;
  }
  .page-fullAcara .acaraContent img {
    width: 100%;
    height: 450px;
  }
  .page-detail .acaraTitle h1 {
    font-size: 40px;
  }
  .page-detail .acaraContent img {
    width: 100%;
    height: 450px;
  }
}
/*# sourceMappingURL=style.css.map */